<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Strasbourg</title>
</head>
<body>
    <table>
        <tr th:each="stat : ${stations}">
            <td th:text="${stat.station_name}">Nom de la station</td>
            <td th:text="${stat.station_lon}">Longitude</td>
            <td th:text="${stat.station_lat}">Latitude</td>
            <td th:text="${stat.station_available_bikes}">Vélos disponibles</td>
            <td th:text="${stat.station_used_bikes}">Vélos utilisés</td>
            <td th:text="${stat.station_total_bikes}">Total de vélos</td>
        </tr>
    </table>
</body>
</html>